## 파이썬의 자료구조 - 리스트

In [2]:
aa = [10, 20, 30, 40]
print(aa)
print(type(aa))

[10, 20, 30, 40]
<class 'list'>

### list()와 range()을 이용하여 리스트 만들기

In [3]:
aa = list(range(10))    # range(0, 10, 1)
print(aa)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
bb = list(range(10, 0, -1))
print(bb)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
cc = list(reversed(range(10)))
print(cc)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### for로 모든 리스트 출력하기

In [8]:
aa = [10, 20, 30,40]
for i in aa :
    print(i)

10
20
30
40

- enumerate() 함수 사용

In [12]:
aa = [10, 20, 30,40]
for index, value in enumerate(aa) :
    print(index, value)

0 10
1 20
2 30
3 40

### 리스트의 합 구하기

In [16]:
aa = [10, 20, 30, 40]
hap = 0
for i in aa :
    hap = hap + i
print(hap)

100

In [17]:
aa = [10, 20, 30, 40]
hap = 0
for i in range(4):
    hap = hap + aa[i]
print(hap)

100

### 리스트의 인덱싱과 슬라이싱

In [20]:
aa = [10,20,30,40,50,60,70,80,90]
aa[0]

10

In [21]:
aa[2]

30

In [22]:
aa[8]

90

In [23]:
aa[-1]

90

In [24]:
aa[-2]

80

In [25]:
aa = [10,20,30,40,50,60,70,80,90]
aa[0:5]

[10, 20, 30, 40, 50]

In [26]:
aa[1:1]

[]

In [27]:
aa[4:-1]

[50, 60, 70, 80]

In [29]:
aa = [10,20,30,40,50,60,70,80,90]
aa[:]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [30]:
aa[:5]

[10, 20, 30, 40, 50]

In [31]:
aa[2:]

[30, 40, 50, 60, 70, 80, 90]

In [32]:
len(aa)

9

In [33]:
aa[0:len(aa)]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [36]:
aa = [10,20,30,40,50,60,70,80,90]
aa[:]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [37]:
aa[0:9]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [39]:
len(aa)

9

In [38]:
aa[0:len(aa)]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

### 인덱스를 활용한 리스트 값 선택

In [40]:
aa = [10,20,30,40,50,60,70,80,90]
aa[2:5]

[30, 40, 50]

In [41]:
aa[::2]

[10, 30, 50, 70, 90]

In [42]:
aa[::-2]

[90, 70, 50, 30, 10]

In [43]:
aa[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [45]:
list(reversed(aa))

[90, 80, 70, 60, 50, 40, 30, 20, 10]

## 리스트 값의 변경

In [46]:
aa = [10,20,30]
aa[1] = 200
print(aa)

[10, 200, 30]

In [47]:
aa = [10,20,30]
aa[1:2] = [200, 201]
print(aa)

[10, 200, 201, 30]

In [48]:
aa = [10,20,30]
aa[1] = [200, 201]
print(aa)

[10, [200, 201], 30]

In [49]:
aa = [10,20,30]
del(aa[1])
print(aa)

[10, 30]

In [50]:
aa = [10,20,30,40,50]
aa[1:4] = []
print(aa)

[10, 50]

In [6]:
aa = [10,20,30,40,50]
del(aa[1:4])
print(aa)

[10, 50]

In [7]:
del aa

In [8]:
try :
    print(aa)
except Exception as e :
    print(e)

name 'aa' is not defined

### 리스트의 연산
#### +, *

In [54]:
aa=[10,20,30]
bb=[40,50,60]
print(aa + bb)

[10, 20, 30, 40, 50, 60]

In [55]:
aa=[10,20,30]
print(aa*3)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [56]:
print("="*3)

===

### 리스트의 조작 함수

In [64]:
# count()
aa = [10, 20, 30, 15, 20, 40]
aa.count(20)

2

In [65]:
# index()
aa.index(30)

2

In [66]:
aa = [10, 20, 30, 15, 20, 40]
item = aa.pop()
print(item)
print(aa)

40
[10, 20, 30, 15, 20]

In [67]:
aa = [10, 20, 30, 15, 20]
aa.append(40)
print(aa)

[10, 20, 30, 15, 20, 40]

In [72]:
# insert()
aa = [10, 20, 30, 15, 20, 40]
aa.insert(3, 77)
print(aa)

[10, 20, 30, 77, 15, 20, 40]

In [73]:
# remove()
aa = [10, 20, 30, 15, 20, 40]
aa.remove(30)
print(aa)

[10, 20, 15, 20, 40]

In [74]:
aa.remove(20)
print(aa)

[10, 15, 20, 40]

### sort() vs sorted()

In [78]:
# 오름차순
aa = [10, 20, 30, 15, 20, 40]
aa.sort()
print(aa)

[10, 15, 20, 20, 30, 40]

In [79]:
# 내림차순
aa = [10, 20, 30, 15, 20, 40]
aa.sort(reverse=True)
print(aa)

[40, 30, 20, 20, 15, 10]

In [80]:
# sorted() 함수 - 오름차순
bb = [10, 20, 30, 15, 20, 40]
sorted(bb)

[10, 15, 20, 20, 30, 40]

In [81]:
# sorted() 함수 - 내림차순
bb = [10, 20, 30, 15, 20, 40]
sorted(bb, reverse=True)

[40, 30, 20, 20, 15, 10]

### 리스트의 복사 : soft copy와 hard copy

In [83]:
aa = [10, 20, 30, 40, 50]
bb = aa
aa.append(60)
print(aa)
print(bb)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [84]:
id(aa), id(bb)

(2775152280392, 2775152280392)

In [85]:
# hard copy
aa = [10, 20, 30, 40, 50]
bb = aa.copy()
aa.append(60)
print(aa)
print(bb)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50]

In [86]:
id(aa), id(bb)

(2775114487496, 2775151908680)

### append() vs extend()

In [87]:
aa = [10, 20, 30]
aa.append(40)
print(aa)

[10, 20, 30, 40]

In [88]:
aa = [10, 20, 30]
bb = [40, 50, 60, 70]
aa.extend(bb)
print(aa)

[10, 20, 30, 40, 50, 60, 70]

In [89]:
aa = [10, 20, 30]
bb = [40, 50, 60, 70]
aa + bb

[10, 20, 30, 40, 50, 60, 70]

### 리스트 컨프리헨션(list comprehension)

In [94]:
a = [i for i in range(10)]
print(a)
print(type(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [96]:
b = [i+5 for i in range(10)]
print(b)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

- 리스트 표현식에서 if 조건문 사용하기

In [98]:
a = [i for i in range(10) if i % 2 == 0]
print(a)

[0, 2, 4, 6, 8]

### 리스트에 map() 함수 사용하기

In [108]:
#1) for 반복문
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
print(a)

[1, 2, 3, 4]

In [109]:
#2) map 함수 이용
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

## 파이썬 자료구조 - 튜플(tuple)

In [1]:
tt1 = (10, 20, 30)
print(tt1)
print(type(tt1))

(10, 20, 30)
<class 'tuple'>

- 주의) 자료가 하나인 튜플 생성

In [2]:
tt2 = (10,)
print(tt2)
print(type(tt2))

(10,)
<class 'tuple'>

- range()를 이용한 튜플 생성

In [3]:
a = tuple(range(10))
print(a)
print(type(a))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

### 튜플의 오류 : 내용 변경 불가

In [5]:
tt1 = (10, 20, 30)

try :
    tt1.append(40)
except Exception as e :
    print(e)

'tuple' object has no attribute 'append'

### 튜플의 인덱싱과 슬라이싱

In [9]:
tt1 = (10, 20, 30)
tt1[0]

10

In [10]:
tt1[-1]

30

In [11]:
tt1[1:3]

(20, 30)

In [12]:
tt1[:]

(10, 20, 30)

In [13]:
tt1[:len(tt1)]

(10, 20, 30)

### 튜플의 연산 : +, *

In [14]:
tt1 = (10, 20, 30)
tt2 = ('A', 'B')
print(tt1 + tt2)
print(tt1 * 3)

(10, 20, 30, 'A', 'B')
(10, 20, 30, 10, 20, 30, 10, 20, 30)

### 언패킹(unpacking), 패킹(packing), zip

- 언패킹

In [15]:
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

1 2 3

- 패킹(packing)

In [16]:
a = [1, 2, 3]
b = (1, 2, 3)
c = 1, 2, 3
list(map(type, [a, b, c]))

[list, tuple, tuple]

- zip

In [17]:
a = ['apple', 'banana', 'cherry']
b = [3500, 2000, 5000]
for a, b in zip(a, b):
    print((a, b))

('apple', 3500)
('banana', 2000)
('cherry', 5000)

## 파이썬 자료구조 - 딕셔너리

In [21]:
# 학생정보 딕셔너리
student = {'학번':1000, '이름':'홍길동', '학과':'컴퓨터학과'}
print(student)
print(type(student))

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과'}
<class 'dict'>

In [22]:
# 딕셔너리 접근(검색) 
print(student['학번'])
print(student.get('학번'))

1000
1000

In [27]:
student['주소']

KeyError: '주소'

In [28]:
student.get('주소')

### 딕셔너리의 함수

In [29]:
student.keys()

dict_keys(['학번', '이름', '학과'])

In [30]:
student.values()

dict_values([1000, '홍길동', '컴퓨터학과'])

In [31]:
student.items()

dict_items([('학번', 1000), ('이름', '홍길동'), ('학과', '컴퓨터학과')])

In [32]:
for k, v in student.items():
    print(k, v)

학번 1000
이름 홍길동
학과 컴퓨터학과

### in 연산자

In [33]:
'주소' in student

False

## 문자열(String)

In [34]:
s1 = 'python'
s2 = "python"
s3 = '''p
y
t
h
o
n'''

print(s1, type(s1))
print(s2, type(s2))
print(s3, type(s3))

python <class 'str'>
python <class 'str'>
p
y
t
h
o
n <class 'str'>

- 문자열 연산 : +, *

In [37]:
s1 = "여행은 "
s2 = "셀레임이다."
print(s1 + s2)
print("="*20)

여행은 셀레임이다.
====================

### 문자열의 인덱싱과 슬라이싱

In [39]:
a = "Hello World"
print(a[0])
print(a[-1])
print(a[0:5])
print(a[:5])

H
d
Hello
Hello