## 사이킷런으로 하는 머신러닝

## 홀드아웃 : 학습 데이터와 테스트 데이터 분리 – train_test_split()

### 학습 데이터와 테스트 데이터 분리
<img src="../img/holdout.png" height=350 width=600>

In [1]:
# 경고 무시
import warnings
warnings.filterwarnings(action='ignore')

### 홀드아웃 : 단순 데이타 나누기 - train data, test data
<img src="../img/traindataset.png">

### 데이타 로드

In [11]:
import pandas as pd
import numpy as np

# 데이타 로드 
path = "../data/DataPreprocess.csv"
df1 = pd.read_csv(path)
df1.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
df1.shape  # 10개의 관측치, 4개 변수

(10, 4)

### 데이타와 레이블 나누기

In [7]:
# 데이타와 레이블 나누기 - 종속변수(반응변수)와 독립변수(설명변수) 나누기
x = df1.values[:, :-1]   # 데이타  
y = df1.values[:, -1]    # 레이블(정답)
x, y

(array([['France', 44.0, 72000.0],
        ['Spain', 27.0, 48000.0],
        ['Germany', 30.0, 54000.0],
        ['Spain', 38.0, 61000.0],
        ['Germany', 40.0, nan],
        ['France', 35.0, 58000.0],
        ['Spain', nan, 52000.0],
        ['France', 48.0, 79000.0],
        ['Germany', 50.0, 83000.0],
        ['France', 37.0, 67000.0]], dtype=object),
 array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
       dtype=object))

### 홀드아웃 : 학습 데이타와 테스트 데이타 나누기

In [8]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
x_train.shape, x_test.shape

((8, 3), (2, 3))

In [9]:
x_train, x_test

(array([['Germany', 40.0, nan],
        ['France', 37.0, 67000.0],
        ['Spain', 27.0, 48000.0],
        ['Spain', nan, 52000.0],
        ['France', 48.0, 79000.0],
        ['Spain', 38.0, 61000.0],
        ['France', 44.0, 72000.0],
        ['France', 35.0, 58000.0]], dtype=object),
 array([['Germany', 30.0, 54000.0],
        ['Germany', 50.0, 83000.0]], dtype=object))

### [실습 문제] iris 데이타셋의 학습/테스트 데이타 세트 분리

### 1) 사이킷런의 train_test_split 이용하여 구현

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

# iris 데이타셋 로드
iris_data = load_iris()

# 학습/테스트 데이타 세트 분리
x_train, x_test,y_train, y_test= train_test_split(iris_data.data, iris_data.target, 
                                                    test_size=0.3, random_state=0)

In [7]:
x_train.shape, x_test.shape

((105, 4), (45, 4))

In [22]:
y_train.shape, y_test.shape

((105,), (45,))

### 2) 판다스 DataFrame의 슬라이싱을 이용하여 구현

In [16]:
import pandas as pd

iris_df = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
iris_df['target']=iris_data.target
iris_df.head(2)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0

In [10]:
train = iris_df.iloc[:, :-1]
target = iris_df.iloc[:, -1]
x_train, x_test, y_train, y_test = train_test_split(train, target, 
                                                    test_size=0.3, random_state=0)

In [17]:
print(type(x_train), type(x_test))
print(type(y_train), type(y_test))

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>

### 3) 결정트리를 이용한 분류  및 정확도

In [15]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

dt_clf = DecisionTreeClassifier( ) # 모델 선택
dt_clf.fit(x_train, y_train)       # 학습
pred = dt_clf.predict(x_test)      # 예측

print('예측 정확도: {0:.4f}'.format(accuracy_score(y_test,pred))) # 모델평가 - 정확도

예측 정확도: 0.9778

In [23]:
pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0, 2, 1, 0, 2, 2, 1, 0, 2, 1, 1, 2, 0, 2, 0,
       0])

In [24]:
pred == y_test

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True])

##  K-Fold Cross Validation 나누기

### K-겹 교차검증 
<img src="../img/crossval.png" height=350 width=600>

### KFold 클래스를 이용한 교차 검증 방법

In [15]:
from sklearn.model_selection import KFold

cv = KFold(n_splits=5, shuffle=True, random_state=0)

for train_index, test_index in cv.split(x) :
    print('train_index : ', train_index)
    print("." * 80)
    print("test_index : ", test_index)
    print("=" * 80)

train_index :  [0 1 3 4 5 6 7 9]
................................................................................
test_index :  [2 8]
================================================================================
train_index :  [0 1 2 3 5 6 7 8]
................................................................................
test_index :  [4 9]
================================================================================
train_index :  [0 2 3 4 5 7 8 9]
................................................................................
test_index :  [1 6]
================================================================================
train_index :  [0 1 2 4 5 6 8 9]
................................................................................
test_index :  [3 7]
================================================================================
train_index :  [1 2 3 4 6 7 8 9]
................................................................................
test_index :  [0 5]
================================================================================

### [실습 과제] iris 데이타셋을 이용한 K-Fold 검증

In [25]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
import numpy as np

iris = load_iris()
features = iris.data
label = iris.target

dt_clf = DecisionTreeClassifier(random_state=156)

# 5개의 폴드 세트로 분리하는 KFold 객체와 폴드 세트별 정확도를 담을 리스트 객체 생성.
kfold = KFold(n_splits=5)
cv_accuracy = []
print('붓꽃 데이터 세트 크기:',features.shape[0])

붓꽃 데이터 세트 크기: 150

In [30]:
n_iter = 0

# KFold객체의 split( ) 호출하면 폴드 별 학습용, 검증용 테스트의 로우 인덱스를 array로 반환  
for train_index, test_index  in kfold.split(features):
    # kfold.split( )으로 반환된 인덱스를 이용하여 학습용, 검증용 테스트 데이터 추출
    x_train, x_test = features[train_index], features[test_index]
    y_train, y_test = label[train_index], label[test_index]
    
    #학습 및 예측 
    dt_clf.fit(x_train , y_train)    
    pred = dt_clf.predict(x_test)
    n_iter += 1
    
    # 반복 시 마다 정확도 측정 
    accuracy = np.round(accuracy_score(y_test,pred), 4)
    train_size = x_train.shape[0]
    test_size = x_test.shape[0]
    print('\n#{0} 교차 검증 정확도 :{1}, 학습 데이터 크기: {2}, 검증 데이터 크기: {3}'
          .format(n_iter, accuracy, train_size, test_size))
    print('#{0} 검증 세트 인덱스:{1}'.format(n_iter,test_index))
    
    cv_accuracy.append(accuracy)
    
# 개별 iteration별 정확도를 합하여 평균 정확도 계산 
print('\n## 평균 검증 정확도:', np.mean(cv_accuracy))

#1 교차 검증 정확도 :1.0, 학습 데이터 크기: 120, 검증 데이터 크기: 30
#1 검증 세트 인덱스:[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29]

#2 교차 검증 정확도 :0.9667, 학습 데이터 크기: 120, 검증 데이터 크기: 30
#2 검증 세트 인덱스:[30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59]

#3 교차 검증 정확도 :0.8667, 학습 데이터 크기: 120, 검증 데이터 크기: 30
#3 검증 세트 인덱스:[60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83
 84 85 86 87 88 89]

#4 교차 검증 정확도 :0.9333, 학습 데이터 크기: 120, 검증 데이터 크기: 30
#4 검증 세트 인덱스:[ 90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119]

#5 교차 검증 정확도 :0.7333, 학습 데이터 크기: 120, 검증 데이터 크기: 30
#5 검증 세트 인덱스:[120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]

## 평균 검증 정확도: 0.9